{% set hasAtLeastOneEntryService = false %}
{% set hasAtLeastOneEntryProduct = false %}
{% set projectAndPeriod = '' %}
{% set caseRef = '' %}

{% for item in entries %}
    {% if item.type == INVOICE_ENTRY_TYPE_SERVICE %}
        {% set hasAtLeastOneEntryService = true %}
    {% endif %}
    {% if item.type == INVOICE_ENTRY_TYPE_PRODUCT %}
        {% set hasAtLeastOneEntryProduct = true %}
    {% endif %}
{% endfor %}

<style>
    html, body {
        width: 210mm;
        margin: 0;
        padding: 0;
        background: #F5F5F0;
        font-family: 'Helvetica Neue', Helvetica, "Arial", Lucida, -apple-system, Frutiger, Arial, BlinkMacSystemFont, sans-serif;
    }
    body {
        line-height: 1.6;
        padding: 10mm;
        padding-top: 0px;
        padding-bottom: 0px;
        background: #F5F5F0;
        color: rgba(0, 0, 0, 0.9);
    }
    @media print {
        html, body {
            width: 210mm;
        }
        body {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }
    .header {
        width: 100%;
        padding-bottom: 30px;
        padding-top: 0px;
        font-size: 14px;
    }
    .header-table {
        width: 100%;
        border-collapse: collapse;
    }
    .header-left {
        width: 60%;
        vertical-align: top;
    }
    .header-right {
        width: 40%;
        vertical-align: top;
        text-align: right;
    }
    table {
        font-size: 14px;
        
    }
    .logo {
        max-width: 200px;
        margin-bottom: 20px;
        margin-left: -15px;
        margin-top: -10px;
    }
    .invoice-title {
        font-size: 48px;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin: 0;
        font-family: 'Times New Roman', Times, 'Times-Roman', serif;
    }
    .thank-you {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #666;
    }
    .invoice-details {
        font-size: 14px;
        padding-left: 60px;
    }
    .addresses {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .address-block {
        line-height: 1.5;
    }
    .address-header {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #666;
        display: block;
        font-weight: bold;
    }
    .services {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;
        font-size: 12px;
    }
    .services th, .services td {
        padding: 12px 8px;
        border-bottom: 1px solid #eee;
    }
    .services th {
        font-weight: 500;
        color: #666;
        font-size: 12px;
        letter-spacing: 0.05em;
        border-bottom: 2px solid #000;
    }
    .totals {
        margin-bottom: 60px;
        font-size: 14px;
        padding-left: 70%;
    }
    .payment-info {
        margin-top: 60px;
        font-size: 14px;
    }
    .payment-info h2 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #666;
        margin-bottom: 20px;
    }
    .thank-you {
        font-size: 24px;
        margin: 60px 0;
        font-weight: 300;
    }
    .invoice-details-table {
        width: 100%;
        border-collapse: collapse;
    }
    .invoice-details-table td:first-child {
        text-align: left;
        padding: 3px 10px;
    }
    .invoice-details-table td:last-child {
        text-align: right;
        padding: 3px 0;
    }
    .textAlignCenter {
        text-align: center;
    }
    .textAlignRight {
        text-align: right;
    }
    .textAlignLeft {
        text-align: left;
    }
    .noWrap {
        white-space: nowrap;
    }
</style>

<div class="header">
    <table class="header-table">
        <tr>
            <td class="header-left">
                <img src="https://financesonline.com/uploads/2021/06/TimeCamp-logo-1.png" alt="Company Logo" class="logo">

                <div class="addresses">
                    <div class="address-block">
                        <div class="address-header">{{ invoiceGroupSettings.companyName | nl2br }}</div>
                        {{ invoiceGroupSettings.companyAddress | nl2br }}
                    </div>
                    <br />
                    <div class="address-block">
                        <div class="address-header">Bill to</div>
                        {{ client.organizationName }} {{ client.firstName }} {{ client.lastName }} <br />
                        {{ client.address | nl2br }}
                    </div>
                </div>
            </td>
            <td class="header-right">
                <h1 class="invoice-title">INVOICE</h1>
                <br /><br /><br />
                <div class="invoice-details">
                    <table class="invoice-details-table">
                        <tr>
                            <td class="textAlignLeft">Invoice No.</td>
                            <td class="textAlignRight">{{ invoice.invoiceNumber }}</td>
                        </tr>
                        <tr>
                            <td class="textAlignLeft">Issue Date</td>
                            <td class="textAlignRight">{{ invoice.issueDate }}</td>
                        </tr>
                        {% if invoice.dueDate %}
                        <tr>
                            <td class="textAlignLeft">Due Date</td>
                            <td class="textAlignRight">{{ invoice.dueDate }}</td>
                        </tr>
                        {% endif %}
                        {% if invoice.poNumber %}
                        <tr>
                            <td class="textAlignLeft">PO Number</td>
                            <td class="textAlignRight">{{ invoice.poNumber }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


{% if hasAtLeastOneEntryService %}
<table class="services">
<thead>
    <tr>
        <th class="textAlignLeft">Item</th>
        <th class="textAlignRight">Hours</th>
        <th class="textAlignRight">Rate/h</th>
        <th class="textAlignRight">Tax Rate</th>
        <th class="textAlignRight" style="min-width:80px;">Total<br/>Excl. Tax</th>
        <th class="textAlignRight" style="min-width:80px;">Total<br/>Incl. Tax</th>
    </tr>
    </thead>
    <tbody>
    {% for item in entries %}
        {% if item.type == INVOICE_ENTRY_TYPE_SERVICE %}
            <tr>
                <td class="textAlignLeft"><b>{{ item.name }}</b><br/>{{ item.description|length > 100 ? item.description|slice(0, 100) ~ '...' : item.description }}</td>
                <td class="textAlignRight noWrap">{{ formatHMS(item.duration ? item.duration : item.quantity * 3600, false, invoice.userId) }}</td>
                <td class="textAlignRight noWrap">{{ currency(item.unitCost, currency) }}</td>
                <td class="textAlignRight noWrap">{{ taxes[item.taxId].label }}</td>
                <td class="textAlignRight noWrap">{{ currency(item.unitCost * item.quantity, currency) }}</td>
                <td class="textAlignRight noWrap">{{ currency(item.unitCost * item.quantity * (1 + taxes[item.taxId].taxValue), currency) }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% if hasAtLeastOneEntryProduct %}
<table class="services">
<thead>
    <tr>
        <th class="textAlignLeft">Item</th>
        <th class="textAlignRight">Qty</th>
        <th class="textAlignRight">Unit Price</th>
        <th class="textAlignRight">Tax Rate</th>
        <th class="textAlignRight" style="min-width:80px;">Total Excl. Tax</th>
        <th class="textAlignRight" style="min-width:80px;">Total Incl. Tax</th>
    </tr>
    </thead>
    <tbody>
    {% for item in entries %}
    {% if item.type == INVOICE_ENTRY_TYPE_PRODUCT %}
        <tr>
            <td class="textAlignLeft"><b>{{ item.name }}</b><br/>{{ item.description|length > 100 ? item.description|slice(0, 100) ~ '...' : item.description }}</td>
            <td class="textAlignRight noWrap">{{ item.quantity }}</td>
            <td class="textAlignRight noWrap">{{ currency(item.unitCost, currency) }}</td>
            <td class="textAlignRight noWrap">{{ taxes[item.taxId].label }}</td>
            <td class="textAlignRight noWrap">{{ currency(item.unitCost * item.quantity, currency) }}</td>
            <td class="textAlignRight noWrap">{{ currency(item.unitCost * item.quantity * (1 + taxes[item.taxId].taxValue), currency) }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="totals">
    <table class="invoice-details-table">
        <tr>
            <td>Net Amount</td>
            <td class="textAlignRight">{{ currency(invoiceStatistics.subtotal, currency) }}</td>
        </tr>
        {% for taxId, taxSummary in invoiceStatistics.taxesSummary %}
        <tr>
            <td>{{ taxes[taxId].label }}</td>
            <td class="textAlignRight">{{ currency(taxSummary, currency) }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Gross Amount</td>
            <td class="textAlignRight">{{ currency(invoiceStatistics.total, currency) }}</td>
        </tr>
    </table>
</div>

<div class="payment-info">
    <p>{{ invoice.noteToClient }}</p>
</div>
